---
title: "static d3 example"
---

<!-- adapted from http://bl.ocks.org/mbostock/3884914 -->

<%= stylesheet_embed "viz" %>


<h1><%= current_page.data.title %></h1>

<div>
  
  <p>This is an adaptation of the "Bivariate Area Chart" 
    <%= link_to 'demonstration', 'http://bl.ocks.org/mbostock/3884914' %> 
    of <%= link_to 'd3.js', 'http://d3js.org/' %> compiled into a static 
    HTML file using the <%= link_to 'middleman-static-d3', 'https://github.com/coldnebo/middleman-static-d3' %> template.</p>

  <p>Everything you see on this page exists in a single self-contained file that can be viewed anywhere.</p>

  <%# example of embedding an image %>
  <img src="<%= data_uri('images/middleman.png', 'image/png') %>" style="width: 50px;" />
  
</div>

<div id="vis"></div>

<div>
  <h2>data.tsv</h2>
  <pre id="display_data"></pre>
</div>

<%# data_embed takes a single argument, the name of the data file in source/data. %>
<%= data_embed 'data.tsv' %>

<%= javascript_embed 'viz' %>

<%# simple coffeescript example to fill display_data. %>
<%= javascript_embed 'show_data' %>


